<h3>입력 완료</h3>
<h4>이름 : <%= @view.name %></h4>
<h4>키 : <%= @view.height %>cm</h4>
<h4>몸무게 : <%= @view.weight %>kg</h4>
<h4>표준체중 : <%= @view.stdweight %>kg</h4>
<h4>비만도 : <%= @view.bimando %></h4>
<h4>현재 상태 : <%= @view.state %></h4>
<a href="/bimando/input">또 입력하기</a><br>
<a href="/bimando/list">리스트 보기</a>

