<div class="page-header">
	<h1>Write</h1>
</div>


<form class="form-horizontal" action="/bolg/write_complete" method="POST">
	<div class="control-group">
		<label class="control-label" for="writer">작성자</label>
		<div class="controls">
			<input type="text" class="span5"  name="writer" id="writer" placeholder="작성자">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="cont">내 용</label>
		<div class="controls">
			<textarea rows="10" id="cont"  class="span5" name="cont" placeholder="내 용"></textarea>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-inverse">Send</button>
		</div>
	</div>
</form>
<br>
<hr>
<div class="page-header">
	<h1>Posts</h1>
</div>


<% @posts.sort.reverse.each do |x| %>
	<h1> <%= x.id %>. <%= x.username %></h1><p>
	<%= x.content %> </p>
	<p style="font-size:6px;"><%= x.created_at %></p>
	<a href="/bolg/delete_post/<%=x.id%>" role="button" class="btn btn-mini btn-danger" >삭제</a>
	<!-- Button to trigger modal -->
	<a href="#myModal" role="button" class="btn btn-mini" data-toggle="modal">수정</a>

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"><%=x.username%>의 게시글 수정</h3>
		</div>

		<div class="modal-body">
			<!--update-->
			<form class="form-horizontal" action="/bolg/update/<%=x.id%>" method="POST">
				<div class="control-group">
					<label class="control-label" for="writer">작성자</label>
					<div class="controls">
						<input type="text" id="writer" name="writer" placeholder="작성자">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="cont">내 용</label>
					<div class="controls">
						<textarea rows="3" id="cont" name="cont" placeholder="내 용"></textarea>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-inverse">Send</button>
					</div>
				</div>
			</form>
			<!--update end-->
		</div>
	</div>

	<hr>
<% end %>
